
@font-face {
	font-family: 'Noto-Serif';
	font-weight: 700;
	src: url('./assets/fonts/NotoSerifKR-Bold.eot');
	src: url('./assets/fonts/NotoSerifKR-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/NotoSerifKR-Bold.woff2') format('woff2'),
		url('./assets/fonts/NotoSerifKR-Bold.woff') format('woff'),
		url('./assets/fonts/NotoSerifKR-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Noto-Serif';
	font-weight: 500;
	src: url('./assets/fonts/NotoSerifKR-Medium.otf');
	src: url('./assets/fonts/NotoSerifKR-Medium.otf?#iefix') format('embedded-opentype'),
		url('./assets/fonts/NotoSerifKR-Medium.woff2') format('woff2'),
		url('./assets/fonts/NotoSerifKR-Medium.woff') format('woff');
}


html, body {
  font-family: 'Noto-Serif';
  line-height: 1.2;
	font-size: 0.266666666666667vw;
}
button {
	font-family: 'Noto-Serif';
	border: none;
  background-color: transparent;
}

#app {
  background: $bg-color;
	overflow: hidden;
	max-width: 700px;
	margin: 0 auto;
	padding: 0 15px;
	font-size: 10rem;
}

.contents-title {
	font-size: $font-s;
	strong {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: calc(50% - 2px);
			right: -50px;
			width: 40px;
			height: 2px;
			background-color: #000;
		}
	}
}