
@font-face {
	font-family: 'Noto-Serif';
	font-weight: 700;
	src: url('./assets/fonts/NotoSerifKR-Bold.eot');
	src: url('./assets/fonts/NotoSerifKR-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/NotoSerifKR-Bold.woff2') format('woff2'),
		url('./assets/fonts/NotoSerifKR-Bold.woff') format('woff'),
		url('./assets/fonts/NotoSerifKR-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Noto-Serif';
	font-weight: 500;
	src: url('./assets/fonts/NotoSerifKR-Medium.otf');
	src: url('./assets/fonts/NotoSerifKR-Medium.otf?#iefix') format('embedded-opentype'),
		url('./assets/fonts/NotoSerifKR-Medium.woff2') format('woff2'),
		url('./assets/fonts/NotoSerifKR-Medium.woff') format('woff');
}


html, body {
  font-family: 'Noto-Serif';
  line-height: 1.2;
	font-size: 0.266666666666667vw;
	background: $bg-color;
	transition: background-color .7s ease-in;
	&.col {
		background: #ecf1e8;
		transition: background-color .7s ease-in;
	}
	@media screen and (min-width: 700px){
		font-size: 1px;
	}
}
button {
	font-family: 'Noto-Serif';
	border: none;
  background-color: transparent;
}

input[type="number"],
input[type="password"],
input[type="text"],
textarea {
  font-size: $font-input;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}


#app {
	overflow: hidden;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 #{$side-padding};
	font-size: 10rem;
}

.scroll-lock {
	overflow: hidden;
}
.dimmed {
	position: relative;
	overflow: hidden;
	&:before {
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .5;
	}
}

.text-int {
	overflow: hidden;
  visibility: hidden;
	opacity: 0;
	transition: transform 1.5s cubic-bezier(.15,.85,.45,1),opacity 1.5s cubic-bezier(.32,.94,.6,1);
	.tt {
		display: block;
		transform: translate(0,100%);
		transition: opacity 0.7s cubic-bezier(.19,1,.22,1),transform 0.7s cubic-bezier(.19,1,.22,1);
		opacity: 0;
		&.short {
			transform: translate(0,50px);
		}
		&.inline {
			display: inline-block;
		}
	}
	&.hello {
		visibility: visible;
		opacity: 1;
		.tt {
			opacity: 1;
			transform: translate(0,0) rotate(.001deg);
			transition: transform 1s cubic-bezier(.15,.85,.45,1),opacity 1s cubic-bezier(.32,.94,.6,1);
			@for $i from 1 through 30 {
				&:nth-child(#{$i}) {
					transition-delay: #{$i * 0.25s};
				}
			}
		}
	}
}

// .col-gr {
// 	color: $col-gr;
// }
// .col-br {
// 	color: $col-br;
// }