/*
* color variables
*/

// by contents
$bg-color: #FFF8F6;


// by fractions
$col-red: #F89185;
$col-blue: #84A6FF;
$col-brown: #5F1D15;
$col-orange: #FFC08F;


/*
* font-size variables
*/

// by size
$font-max: 110rem;
$font-lar: 34rem;
$font-mid: 24rem;

// by function
$font-fracture: 40rem;

